.production-catalog {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

  &__descr {
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: 500;
  }

  &__item {
    padding: 10px;

    &:hover .production-catalog__img {
        transform: scale(1.1);
        transition: all 1s ease-out;
    }
  }
}